* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 16px;
}

@font-face {
  font-family: bahij;
  src: url(/assets/Bahij\ TheSansArabic\ Bold/Bahij\ TheSansArabic\ Bold.ttf);
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./../../assets/images/bg.jpg") no-repeat center/cover;
  color: #fff;
  font-family: "bahij", serif;
  gap: 1rem;
  user-select: none;
}
.main h6 {
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 2px;
}
.main h1 {
  font-size: 2.625rem;
  font-weight: 600;
}
.main p {
  font-size: 1rem;
  width: 40%;
  text-align: center;
  line-height: 1.7;
  letter-spacing: 1px;
}
.main a {
  background: #25d366;
  color: #fff;
  padding: 12px 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0.5rem;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1rem;
  margin-top: 2rem;
}
.main a svg {
  width: 20px;
}

@media (max-width: 767px) {
  :root {
    font-size: 14px;
  }
  .main p {
    font-size: 1rem;
    width: 100%;
    text-align: center;
    line-height: 1.7;
    letter-spacing: 1px;
  }
}

@media (max-width: 480px) {
  :root {
    font-size: 12px;
  }
}
